.label{
display: block;
text-align: right;
}
.menu-bar{
     text-align: left;

 }
 .menu-bar ul{
     display: inline-flex;
     list-style: none;
     width: 100px;
     margin: 15px;
     padding: 15px; 
     text-align: right; 
 }
 .menu-bar ul li{
     float: left;
     display: inline-flex;
     margin: 15px;
     width: 15px;
 }
 
 